<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/style.css')}}">
    </head>
    <body>
        <h3>{{message}}</h3>

        <h2>Quadratic Equations Solver for: <br> ax<sup>2</sup> + bx + c = 0 </h2>

        <form action="/plot" method="post"
                enctype="multipart/form-data">

            Enter coefficient <big><b>a</b></big>:<br>
            <input type="text" name="coeff_a"><br><br>

            Enter coefficient <big><b>b</b></big>:<br>
            <input type="text" name="coeff_b"><br><br>

            Enter coefficient <big><b>c</b></big>:<br>
            <input type="text" name="coeff_c"><br><br><br>

            <button type="submit" style="width: 178px">
            Solve and Plot</button>
        </form>

    </body>
</html>
