<html>
    <head>
        <title>Solution</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    </head>
    <body>
        <h3 style="color:black"> Coefficients entered: </h3>
        <ul>
            <li>a = {{a}}</li>
            <li>b = {{b}}</li>
            <li>c = {{c}}</li>
        </ul>

        <h3 style="color:black"> Equation Solved: </h3>
        <p><t>&emsp; ({{a}})x<sup>2</sup> + ({{b}})x + ({{c}}) = 0 </p>
        
        <h3>Solution Roots:</h3>
        <h3>&emsp; {{roots}}</h3>

        {% if roots == [] %}
            <h3>{{feedback}}</h3>
        {% endif %}

        <img src="data:image/png;base64, {{picture}}" alt="plot">

    </body>
</html>

